<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "分類くん", root_path, class: "navbar-brand ms-3" %>
  <% unless controller_name == 'web_site_infos' && action_name == 'new' %>
  <div class="container-fluid justify-content-center">
    <%= link_to "お気に入り登録", new_web_site_info_path, {class: "btn btn-primary", role: "button"} %>
  </div>
  <% end %>
</nav>